<h1>Bonjour, veuillez confirmer votre mot de passe</h1>

<p>
    Merci de confirmer votre adresse email en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl }}">Confirmer mon adresse email</a>.
    Ce lien va expirer dans  {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A tout de suite sur Annonceo!
</p>
