{% extends "base.html.twig" %}

{% block title %}
	{{ parent() }}
	| Accueil
{% endblock %}

{% block h1 %}Accueil
{% endblock %}


{% block body %}
	{#
		Dans la variable d'environnement app, lorsqu'un utilisateur s'authentifie, et est connecté
		l'objet user (contenant id email password prenoms noms roles etc) est ragjouté dans cette variable sous le nom user
		#}
	<h2>
		{% if app.user %}
			Bonjour
			{{app.user.prenom}} !
		{% else %}
			Bonjour
		{% endif %}
	</h2>

{% endblock %}


{% block javascripts %}{% endblock %}